/* .str{
    width: 1px;
    background-color: black;
    position: absolute;
    top: 0%;
    left: 50%;
    bottom: 0%;
    height: 1000%;z-index: 767846853457834579348;
} */
.feature{
    padding:  30px;
    text-align: center;
    background-color: #112E41;
    width: 100%;
    /* margin: 0 auto; */
}
.title{
    text-align: center;
    padding: 60px 30px;
    letter-spacing: normal;

}
.title p{
    color: rgba(237, 55, 110, 0.932);
    font-size: 0.88rem;
    font-weight: 300px;
    /* padding: 10px 10px; */
    text-transform: uppercase;
    line-height: 20px;
}
.title h1{
    color: #112E41;
    font-size: 1.3rem;
    font-weight: 700px;
    /* padding: 10px 10px; */
    /* width: 100%; */
    /* line-height: 20px; */
}
.cards{
    display: flex;
    flex-direction: column;
}
.card{
    width: 100%;
    background-color: #2e4158;
    padding: 30px 24px;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    -webkit-transition: 0.6s;
    transition:  700ms;
}
.card:hover{
    background-color: white;
    
}
.card:hover h1{
    color: #112E41;
}
.card:hover p{
    color: #2e4158;
    font-weight: 500;
}
.card:hover .card-img{
    background-color: rgba(237, 55, 110, 0.932);
}
.card:not(:last-child){
    margin-bottom: 30px;

}
.row:not(:last-child){
    margin-bottom: 30px;

}
.card-img{
    width: 55px;
    height: 55px;
    display: inline-block;
    border-radius: 50%;
    background: #586779;
    margin-bottom: 30px;
    position: relative;
}
.card-img img{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card h1{
    color: rgb(218, 210, 210);
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0 0 30px 0;
}
.card p{
    color: rgb(177, 176, 176);
    letter-spacing: 0.2px;
    margin: 10px 0;
}


/**********responsive*/
/***********large screen**/

@media only screen and (min-width: 600px){
.feature{
    padding-top: 60px;
}
.row{
    display: flex;
    flex-direction: row;
}

.row .card:not(:last-child){
    margin-right: 30px;
}
.row:not(:last-child){
    margin-bottom: 0px;

}
.card{
    height: 300px;
}

}



  @media only screen and (min-width: 1100px){
      .feature{
          padding:100px 100px 40px 100px;
      }
    .cards{
        flex-direction: row;
    }
    .row:not(:last-child){
        margin-right: 30px;
    }
    .row .card:not(:last-child){
        margin-right: 30px;
    }
    .card{
        padding: 45px 20px 50px 30px;
        height: 340px;
        box-shadow: 10px 10px 20px -0px #0f0f0f67;

    }
    .card h1{
        font-size: 1.4rem;
    }
   

  }